#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	make build VERSION=$(shell dpkg-parsechangelog -S Version | cut -d- -f1)

override_dh_auto_test:
	true

override_dh_auto_install:
	true

override_dh_strip:
	true

override_dh_dwz:
	true
